/* style page for css */

:root {
    --magic-blue: #0077c0;
    --magic-gray: #c4ced4;
    --magic-black: #000000;
    
}

.hero {
    background-color: var(--magic-blue);
    color: var(--magic-black);
    font-family: 'Staatliches', cursive;
}

.headline {
    font-size: 4.5rem;
}