/* style page for css */
:root {
    --magic-blue: #0077c0;
    --magic-gray: #c4ced4;
    --magic-black: #000000;
    
  }
  
  .hero {
    background-color: var(--magic-blue);
    color: var(--magic-black);
    font-family: 'Staatliches', cursive;
  
  }
  
  .headline {
    font-size: 4.5rem;
    text-align:left;
    font-weight: bold;
    margin-left: 0%;
    font-stretch:extra-expanded;
  }

  .hero-body{
    padding:1rem 1rem;
  }
  
  .hero .logo{
    height:150px;
  
  }
  .button{
    padding: 16px;
    font-size: 20px;
    border: none;
    background-color:var(--magic-blue);
    margin: 10px;
  }
  .dropdown-item{
    background-color: black;
    color:white;
  }
  
  #menu-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .box {
    height:auto;
    overflow: hidden;
   text-overflow: ellipsis; 
}
/* hover effects on box classes */
.box:hover {
  transform:scale(1.1);
  z-index:1;
}
.headline span{
  transition:0.5s;
}


.headline:hover span{
  color: rgb(225, 239, 248);
  
  text-shadow:0 0 10px #fff;
  cursor: pointer;  
}

  .hero-landing{
  background:url('../sport.jpg')center center;
  background-attachment: fixed;
  background-size: cover;

  }

  .team-logo {
    max-height: 64px;
    width: auto;
    object-fit: contain;
    padding: 2px;
  }

  .sco-sch-card{
    align-items: center;

  }
  /*hover effect on news images */
 .article-image:hover{  
      transform:scale(1.1);
      z-index:1;
  }