/* style page for css */
:root {
    --magic-blue: #0077c0;
    --magic-gray: #c4ced4;
    --magic-black: #000000;
    
  }
  
  .hero {
    background-color: var(--magic-blue);
    color: var(--magic-black);
    font-family: 'Staatliches', cursive;
  
  }
  
  .headline {
    font-size: 4.5rem;
    text-align:left;
    font-weight: bold;
    margin-left: 0%;
    font-stretch:extra-expanded;
  }

  .hero-body{
    padding:1rem 1rem;
  }
  
  .hero .logo{
    height:150px;
  
  }
  .button{
    padding: 16px;
    font-size: 20px;
    border: none;
    background-color:var(--magic-blue);
    margin-top: 35px;
  }
  .dropdown-item{
    background-color: black;
    color:white;
  }
  
  #menu-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .box {
    height: 100%;
    
  }
  
.is-size-1::after{
  content:'_';
  height:10px;
  width:auto;
  display:block;
  background-color:var(--magic-blue)

}  
  
  



